name: Build Holo Docker images

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    
    - name: Login to GitHub Container Registry
      run: |
        echo $GITHUB_TOKEN | docker login ghcr.io -u SteamDeckHomebrew --password-stdin
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Download SteamOS
      run: ./download.sh

    - name: Build base image
      run: sudo ./build.sh

    - name: Cleanup SteamOS image
      run: rm -rf ./steamos_image ./steamos

    - name: Build Rust toolchain image
      run: |
        cd languages
        docker build -t ghcr.io/steamdeckhomebrew/holo-toolchain-rust:latest -f ./rust.dockerfile .

    - name: Build Go toolchain image
      run: |
        cd languages
        docker build -t ghcr.io/steamdeckhomebrew/holo-toolchain-go:latest -f ./go.dockerfile .
    
    - name: Build c++ toolchain image
      run: |
        cd languages
        docker build -t ghcr.io/steamdeckhomebrew/holo-toolchain-c++:latest -f ./c++.dockerfile .
    
    - name: Wait for other runs to complete
      uses: softprops/turnstyle@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Push Base image
      run: docker push ghcr.io/steamdeckhomebrew/holo-base:latest

    - name: Push Rust toolchain image
      run: docker push ghcr.io/steamdeckhomebrew/holo-toolchain-rust:latest

    - name: Push Go toolchain image
      run: docker push ghcr.io/steamdeckhomebrew/holo-toolchain-go:latest

    - name: Log out of GitHub Container Registry
      run: |
        docker logout ghcr.io
